= form_with model: [ @post, @post.comments.build ], local:true do |f|
  .form-group
    = f.label :content
    = f.text_area :content, rows: 15, id: 'comment-content-area', class: 'form-control'
    %br/
    = f.button 'Submit', class: 'btn btn-primary'
