- if current_user != user
  - if followees_ids.include? user.id
    = link_to follow_path(id: user.id), method: :delete do
      %i.fas.fa-user-minus
      Unfollow
  - else
    = link_to follows_path(id: user.id), method: :post do
      %i.fas.fa-user-plus
      Follow
