- if current_user.id != user_id
  - if followees_ids.include? user_id
    = link_to follows_user_path(id: user_id), method: :delete do
      %i.fas.fa-user-minus
      Unfollow
  - else
    = link_to follows_user_path(id: user_id), method: :post do
      %i.fas.fa-user-plus
      Follow
