- if @posts.empty?
  .h3.text-center
    - if current_page? followed_posts_path
      You're not following anyone at the moment
    - elsif current_page? liked_posts_path
      You don't have liked any post yet
    - else
      No post available yet :
      = link_to new_post_path do
        Be the first to say something
- else
  = render partial: 'post',
           collection: @posts.order(updated_at: :desc),
           as: 'post',
           locals: { followees_ids: current_user.followees.pluck(:id),
                     liked_posts_ids: current_user.liked_posts.pluck(:id),
                     preview_mode: true }
